<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="ns_latest_news.NsLatestnewsDao">
    
    <resultMap type="ns_latest_news.NsLatestnewsEntity" id="ns_latest_news">
		<id property="innerid" column="innerid" />
		<result property="title" column="title" />
		<result property="crawldatetime" column="crawl_datetime" />
		<result property="releasedatetime" column="release_datetime" />
		<result property="sourceweb" column="source_web" />
		<result property="classification" column="classification" />
		<result property="cusclassification" column="cus_classification" />
		<result property="webpageurl" column="webpage_url" />
		
		
		<result property="hassamenews" column="has_same_news" />
		<result property="samenewsset" column="same_news_set" />
		<result property="hassimilarnews" column="has_similar_news" />
		<result property="similarnewsset" column="similar_news_set" />
		<result property="iscrawled" column="is_crawled" />
	</resultMap>
    
    
    <select id="selectAll" parameterType="map" resultMap="ns_latest_news" >
        select * from ns_latest_news limit #{begin},#{pagesize}
    </select>
    
    <select id="countAll" resultType="int">
        select count(*) c from ns_latest_news;
    </select>
    
 	<select id="findByWebpageUrl" parameterType="String" resultMap="ns_latest_news">
        select * from ns_latest_news where webpage_url=#{webpageurl}
    </select>
    
   
</mapper>